// Vars & Override (ref. https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss)

$spacer: 2rem;

$body-color: #000000;
$primary: #EE802E;

$link-color: $body-color;
$link-decoration: underline;
$link-hover-color: $body-color;
$link-hover-decoration: none;

$font-family-sans-serif: 'Proxima Nova', sans-serif;;

$font-weight-base: 300;

$font-size-base: 1.2rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;
$font-size-xs: $font-size-base * .7;

$line-height-base: 1.8;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 600;
$headings-margin-bottom: $spacer;

$h1-font-size: 6rem;
$h2-font-size: 3.6rem;
$h3-font-size: 2rem;
$h4-font-size: 2rem;
$h5-font-size: 2rem;
$h6-font-size: 1rem;

// Proj var
$before-hover-color: rgba(#000, .5);

// $grid-breakpoints: (
//     xs: 0,
//     sm: 576px,
//     md: 768px,
//     lg: 992px,
//     xl: 1200px,
//     ol: 1600px,
//     ul: 1740px
// );
//
// $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1140px,
//     ol: 1300px,
//     ul: 1600px
// );
