@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../assets/proxima-nova/stylesheet.css';
@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap';

@import 'defaults';
@import 'pagination';

#loader{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: $body-color;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;

    #loader-logo{
        width: 120px;
        height: 120px;

        svg{
            .cls-1{ fill: $body-bg; }
            .cls-2{ fill: $body-color; }
        }

        animation: reveal 4s ease infinite;
        transform-style: preserve-3d;

        @keyframes reveal {
            0%    { opacity: 0; transform: rotateX(-90deg); }
            20%   { opacity: 1; transform: rotateX(0); }
            70%   { opacity: 1; transform: rotateX(0); }
            90%   { opacity: 0; transform: rotateX(90deg); }
            100%  { opacity: 0; transform: rotateX(90deg); }
        }
    }
}

h2{
    font-size: 2.6rem;

    @include media-breakpoint-up(lg){
        font-size: $h2-font-size;
    }
}

body.body-ready{
    #loader{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s .4s, opacity .4s linear;
    }
}

img{
    @extend .img-fluid;
}

strong{
    font-weight: $font-weight-bold;
}

.marged{
    margin-top: $spacer * 4;
    margin-bottom: $spacer * 4;
}

.aligncenter, .alignright, .alignleft{
    display: block;
    margin: $spacer auto;
}

.alignright{
    @include media-breakpoint-up(sm) {
        float: right;
        margin: $spacer 0 $spacer $spacer;
    }
}

.alignleft{
    @include media-breakpoint-up(sm) {
        float: right;
        margin: $spacer 0 $spacer $spacer;
    }
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    z-index: 9999;

    a#logo{
        display: block;
        padding: 20px;

        img{
            height: 60px;
            width: 60px;
        }
    }
}

nav{
    position: fixed;
    color: $white;
    display: block;
    right: 100%;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1010;
    transition: all .4s;

    a{
        color: rgba($white, .8);

        &:hover{
            color: $white;
        }
    }

    &.active{
        right: 0;
    }

    > .row{
        height: 100vh;

        .nav-col-outern,
        .nav-col-menu{
            height: 100%;
        }

        .nav-col-outern{
            background: rgba($black, .7);
            pointer: w-resize;
        }

        .nav-col-menu{
            background-color: $black;

            .nav-col-menu-inner{
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .nav-col-menu-inner-wrapper{
                    width: 100%;

                    .mainmenu-wrapper{
                        display: flex;
                        align-items: center;
                        margin-bottom: $spacer;

                        ul{
                            width: 100%;
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            li{
                                a{
                                    display: block;
                                    padding: 0 ($spacer * 2);
                                    font-weight: 800;
                                    text-transform: uppercase;
                                    font-size: 2rem;
                                    text-decoration: none;
                                    transition: all .4s;
                                    text-align: right;

                                    @include media-breakpoint-up(lg){
                                        padding: 0 ($spacer * 4);
                                        font-size: 3rem;
                                    }

                                    &:hover{
                                        @include media-breakpoint-up(lg){
                                            padding-right: $spacer * 6;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #nav-footer{
                        font-size: $font-size-xs;
                        text-align: right;
                        padding: 0 ($spacer * 2);

                        @include media-breakpoint-up(lg){
                            padding: 0 ($spacer * 4);
                        }

                        .footermenu-wrapper{
                            ul{
                                @extend .list-inline;

                                > li{
                                    @extend .list-inline-item;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer{
    font-size: $font-size-xs;
    margin-top: $spacer * 2;

    .footer-item{
        padding: ($spacer * 2) 0;

        h6{
            text-transform: uppercase;
        }

        &::before{
            content: '';
            width: 40px;
            border-top: 3px solid $body-color;
            display: block;
            margin: $spacer 0;
        }
    }

    #footer-item-social{
        @extend .list-inline;

        li{
            @extend .list-inline-item;

            a{
                $d: 30px;

                width: $d;
                height: $d;
                line-height: $d;
                border-radius: 100%;
                color: $white;
                background: $body-color;
                transition: all .4s;
                text-decoration: none;
                display: inline-block;
                text-align: center;

                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}

#homepage{
    #homepage-slider{
        margin: 0;
        overflow: hidden;

        .slick-current{
            .homepage-slider-item-content{
                padding-bottom: $spacer * 6 !important;
            }
        }

        .homepage-slider-item{
            position: relative;
            height: 100vh;
            overflow: hidden;

            a{
                display: block;

                img.wp-post-image{
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 0;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                .homepage-slider-item-content{
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 0;
                    height: 100%;
                    padding: ($spacer * 4);
                    color: white;
                    display: flex;
                    align-items: flex-end;
                    transition: all .6s;

                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        top: 0;
                        height: 100%;
                        background: linear-gradient(0, rgba(black, .8) 0%, rgba(black, .6) 40%,rgba(black, 0) 80%);
                    }

                    .homepage-slider-item-content-body{
                        position: relative;
                        z-index: 9;

                        .homepage-slider-item-content-body-title{
                            @extend .h2;
                        }

                        .homepage-slider-item-content-body-discover{
                            @extend .discover;
                        }
                    }
                }
            }
        }

        .slick-arrow{
            z-index: 1009;
            top: auto;
            bottom: $spacer;

            &.slick-prev{
                left: $spacer;
            }

            &.slick-next{
                right: $spacer;
            }
        }

        .slick-dots {
            bottom: $spacer;
            color: $white;

            li {
                margin: 0;
                width: 40px;

                button{
                    transition: all .6s;

                    &::before{
                        width: 100%;
                        height: 0;
                        border-top: 1px solid $white;
                        background: $white;
                        content: '';
                    }
                }
            }
        }
    }
}

#cliente{
    #cliente-header{
        height: 90vh;
        position: relative;
        color: white;

        #cliente-header-img{
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            height: 100%;

            img{
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                top: 0;
                height: 100%;
                object-fit: cover;
                object-position: center;
                z-index: 1;
            }

            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                top: 0;
                height: 100%;
                background: $before-hover-color;
                backdrop-filter: saturate(120%) blur(12px);
                z-index: 2;
            }
        }

        #cliente-header-content{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 3;

            h1{
                color: white;
                font-size: $h1-font-size * .6;

                @include media-breakpoint-up(lg){
                    font-size: $h1-font-size;
                }
            }
        }
    }

    #cliente-content{
        @extend .marged;
    }

    #cliente-lavori{
        @extend .marged;

        ul#cliente-lavori-list{
            margin: 0;
            padding: 0;
            list-style: none;

            li.cliente-lavori-list-item{
                @extend .marged;

                .cliente-lavori-list-item-meta{
                    font-size: $font-size-sm;
                    text-transform: uppercase;

                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        right: 100%;
                        width: 200%;
                        top: 14px;
                        border-top: 1px solid $body-color;
                    }
                }

                ul.cliente-lavori-list-item-media{
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li.cliente-lavori-list-item-media-item{
                        margin: ($spacer * 2) 0;
                    }
                }
            }
        }

        .lavori-media-immagine{
            img{
                width: 100%;
            }
        }

        .lavori-media-galleria{
            .lavori-media-galleria-list{
                &.lavori-media-galleria-list-center,
                &.lavori-media-galleria-list-left{
                    img{
                        margin: $spacer;
                        height: 340px;
                        width: auto;
                        max-height: 60vh;

                        @include media-breakpoint-up(lg){
                            height: 600px;
                        }
                    }
                }

                &.lavori-media-galleria-list-full{
                    img{
                        width: 100%;
                    }
                }

                &.lavori-media-galleria-list-grid{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-auto-rows: auto;
                    gap: $grid-gutter-width / 2;
                    // justify-items: center;
                    // align-items: stretch;

                    @include media-breakpoint-up(lg){
                        grid-template-columns: repeat(12 ,1fr);
                        grid-gap: $grid-gutter-width;
                    }

                    .lavori-media-galleria-list-item{
                        place-self: stretch;
                    }

                    &.lavori-media-galleria-list-grid-grid{
                        .lavori-media-galleria-list-item{
                            &:nth-child(4n + 1){
                                grid-column: span 12;
                            }

                            &:nth-child(4n + 2),
                            &:nth-child(4n + 3),
                            &:nth-child(4n + 4){
                                grid-column: span 4;
                            }
                        }
                    }

                    &.lavori-media-galleria-list-grid-grid2{
                        .lavori-media-galleria-list-item{
                            grid-column: span 6;
                        }
                    }

                    &.lavori-media-galleria-list-grid-grid3{
                        .lavori-media-galleria-list-item{
                            grid-column: span 4;
                        }
                    }

                    &.lavori-media-galleria-list-grid-grid4{
                        .lavori-media-galleria-list-item{
                            grid-column: span 3;
                        }
                    }

                    &.lavori-media-galleria-list-grid-grid6{
                        .lavori-media-galleria-list-item{
                            grid-column: span 2;
                        }
                    }
                }
            }
        }
    }

    #cliente-nav{
        margin: 1px;

        .cliente-nav-item{
            margin: 1px;
            background: $gray-200;
            color: white;

            a{
                display: block;
                position: relative;
                text-decoration: none;

                img{
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 0;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                .cliente-nav-item-label{
                    position: relative;
                    padding: $spacer;
                    padding-top: $spacer * 4;
                    font-weight: 600;
                    color: white;
                    font-size: $h2-font-size;
                    background: linear-gradient(0, rgba(black, .8) 0%, rgba(black, .6) 40%,rgba(black, 0) 100%);
                    transition: all .4s;
                    display: flex;
                    align-items: flex-end;
                }

                &:hover{
                    .cliente-nav-item-label{
                        padding-top: $spacer * 3;
                        padding-bottom: $spacer * 2;
                    }
                }
            }
        }
    }
}

#heading{
    margin: ($spacer * 2) 0;

    @include media-breakpoint-up(lg){
        margin-top: ($spacer * 8);
        margin-bottom: ($spacer * 4);
    }
}

#page{
    @extend .marged;
}

#lavori{
    .lavori-settore{
        @extend .marged;
        text-align: center;

        .lavori-settore-list{
            .lavori-settore-list-item{
                margin: $grid-gutter-width 0;

                article{
                    a{
                        display: block;
                        text-decoration: none;

                        .lavori-settore-list-item-img{
                            position: relative;

                            &::before{
                                content: '';
                                display: block;
                                padding-top: 100%
                            }

                            img{
                                display: block;
                                position: absolute;
                                left: 0;
                                width: 100%;
                                top: 0;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                                @extend .shadow;
                            }
                        }

                        .lavori-settore-list-item-content{
                            padding: $spacer 0;
                            font-size: $font-size-xs;
                            font-weight: 300;

                            h3{
                                font-size: $font-size-sm;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#posizioni{
    .posizioni-item{
        background: $black;
        color: $white;
        cursor: pointer;
        transition: all .4s;
        margin: ($grid-gutter-width / 2) 0;

        .posizioni-item-inner{
            padding: ($spacer * 3) $spacer $spacer $spacer;
            transition: all .4s;

            .posizioni-item-inner-body{
                font-size: $font-size-sm;
            }

            .posizioni-item-inner-discover{
                @extend .discover;
            }
        }

        &:hover{
            background: $gray-800;

            .posizioni-item-inner{
                padding: ($spacer * 2) $spacer;
            }

        }
    }

    .modal{
        .modal-body{
            font-size: $font-size-sm;
        }
    }
}

#about{
    #about-heading{
        background-image: url(../../images/about.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            height: 100%;
            background: linear-gradient(90deg, rgba($black, .7) 0%, rgba($black, .5) 50%, rgba($black, 0) 100%);
        }

        #about-heading-inner{
            color: white;
            padding: ($spacer * 2) 0;

            @include media-breakpoint-up(lg){
                padding-top: ($spacer * 8);
                padding-bottom: ($spacer * 4);
            }
        }
    }

    .about-banner{
        background: $primary;
        color: $white;
        padding: ($spacer * 2) 0;
        line-height: 1;
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 800;
    }

    .about-block{
        @extend .marged;
    }
}

ul.homepage-slider-item-content-body-pretitle,
ul#cliente-header-content-pretitle{
    @extend .list-inline;
    margin-bottom: $spacer;
    font-size: $font-size-sm;
    font-weight: 500;
    text-transform: uppercase;

    li{
        @extend .list-inline-item;

        a{
            color: inherit;
        }
    }
}

ul#heading-submenu,
ul#cliente-header-content-elenco{
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(lg){
        text-align: right;
        position: fixed;
        right: 0;
        top: 50%;
        z-index: 1010;
        transform: translateY(-50%);
    }

    li{
        a{
            font-size: $font-size-sm;
            text-decoration: none;
            transition: all .4s;
            background: $white;
            padding: 3px 0 3px 6px;
            color: $black;

            &::before{
                content: '—';
                padding-right: 20px;
            }

            @include media-breakpoint-up(lg){
                &::before{
                    content: none;
                }

                &::after{
                    content: '—';
                    transition: all .4s;
                    padding-left: 10px;
                }
            }

            &:hover{
                opacity: .8;

                &::after{
                    padding-left: 30px;
                }
            }
        }
    }
}

section {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 1s;

    &.visible {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.discover{
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: 500;

    &::before{
        content: '';
        display: inline-block;
        width: 80px;
        border-top: 1px solid $white;
        margin-right: 20px;
        height: 6px;
    }
}
