// Vars & Override (ref. https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss)
$primary: #16a085;
$font-family-san-serif: 'IBM Plex Sans', sans-serif;

// Import
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'defaults';
@import 'pagination';

body{
    margin: 2rem;
}

img{
    @extend .img-fluid;
}

header, main, footer{
    padding: 2rem 0;
}

header, footer{
    background: $gray-100;
}

article{
    .article-thumbnail{
        margin-bottom: $spacer;

        img{
            @extend .img-thumbnail;
        }
    }
}

.aligncenter, .alignright, .alignleft{
    display: block;
    margin: $spacer auto;
}

.alignright{
    @include media-breakpoint-up(sm) {
        float: right;
        margin: $spacer 0 $spacer $spacer;
    }
}

.alignleft{
    @include media-breakpoint-up(sm) {
        float: right;
        margin: $spacer 0 $spacer $spacer;
    }
}

/*

	@include media-breakpoint-up(xs) { ... }
	@include media-breakpoint-up(sm) { ... }
	@include media-breakpoint-up(md) { ... }
	@include media-breakpoint-up(lg) { ... }
	@include media-breakpoint-up(xl) { ... }

	@include media-breakpoint-only(xs) { ... }
	@include media-breakpoint-only(sm) { ... }
	@include media-breakpoint-only(md) { ... }
	@include media-breakpoint-only(lg) { ... }
	@include media-breakpoint-only(xl) { ... }

	@include media-breakpoint-down(xs) { ... }
	@include media-breakpoint-down(sm) { ... }
	@include media-breakpoint-down(md) { ... }
	@include media-breakpoint-down(lg) { ... }

	@include media-breakpoint-between(md, lg) { ... }

*/
