$primary: #0a3d62;

$spacer: 2rem;

$font-size-base: 1rem;
$font-size-ul: $font-size-base * 2.2;
$font-size-xl: $font-size-base * 1.6;
$font-size-lg: $font-size-base * 1.2;
$font-size-sm: $font-size-base * 0.8;
$font-size-xs: $font-size-base * 0.6;

$line-height-base: 1.8;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
$font-family-sans-serif: 'Space Grotesk',
sans-serif;

@import 'bootstrap';

@import 'defaults';
@import 'comments';
// @import 'pagination';

img {
    @extend .img-fluid;
}

#header {
    padding: $spacer 0;
    border-bottom: $border-width solid $border-color;

    .header-wrapper {
        #logo {
            img {
                width: 120px;
            }
        }
    }
}


#menu {
    margin-bottom: $spacer;
    padding: $spacer 0;
    border-bottom: $border-width solid $border-color;

    ul#mainmenu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;

        >li {
            display: flex;

            >a {
                padding: 0 $spacer;
            }

            &.current-menu-item {
                >a {
                    text-decoration: line-through;
                }
            }
        }
    }
}

.content {
    article {
        .content-thumbnail {
            text-align: center;
            margin-bottom: $spacer;
        }

        .content-main {
            @include media-breakpoint-up(lg) {
                width: 100% / 12 * 8;
                margin: auto;
            }

            time {
                display: block;
                font-size: $font-size-sm;
                color: $text-muted;
            }
        }

        .extrainfo {
            font-size: $font-size-sm;
            color: $text-muted;

            a {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}

ul.posts-list {
    margin: 0;
    list-style: none;
    padding: 0;

    >li {
        &:not(:last-child) {
            margin-bottom: $spacer;
            padding-bottom: $spacer;
            border-bottom: 1px solid $border-color;
        }
    }
}

#footer {
    padding: $spacer 0;
    margin-top: $spacer;
    border-top: $border-width solid $border-color;
    font-size: $font-size-sm;
}